:root {
  --primary-color: #ff3811;
  --title-color: #444444;
  --text-color: #a2a2a2;
  --hover-color: #ff3811;
  --footer-bg: #151515;
  --footer-text: #e7e7e7;
}

.car-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
